<nb-dialog>
    <nb-dialog-body>
        <div [ngSwitch]="type">
            <i *ngSwitchCase="'success'" class="iconfont icon-chenggong"></i>
            <i *ngSwitchCase="'error'" class="iconfont icon-cuowu"></i>
            <i *ngSwitchCase="'info'" class="iconfont icon-jinggao"></i>
        </div>
        <h3 class="nb-alert-box-title">{{ title }}</h3>
        <div class="nb-alert-box-conent">{{ content }}</div>
    </nb-dialog-body>
    <nb-dialog-footer>
        <button nb-button (click)="ok()" theme="default">知道了</button>
    </nb-dialog-footer>
</nb-dialog>