<h1 class="typo-main-title">字体</h1>

<p class="typo-desc">Mac OS 系统</p>

<section class="typo-section clearfix">
    <div class="typo-block">
        <div class="typo-block-black">
            <p class="en">PingFang SC</p>
            <p class="zh">中文优先字体</p>
        </div>
        <div class="typo-block-white">
            永和九年，岁在癸丑
        </div>
    </div>


    <div class="typo-block heiti">
        <div class="typo-block-black">
            <p class="en">STHeiti</p>
            <p class="zh">中文备选字体</p>
        </div>
        <div class="typo-block-white">
            永和九年，岁在癸丑
        </div>
    </div>


    <div class="typo-block neue">
        <div class="typo-block-black">
            <p class="en">Helvetica Neue</p>
            <p class="zh">西方优先字体</p>
        </div>
        <div class="typo-block-white">
             The spring of AD 354
        </div>
    </div>

    <div class="typo-block verdana">
        <div class="typo-block-black">
            <p class="en">Verdana</p>
            <p class="zh">西方备选字体</p>
        </div>
        <div class="typo-block-white">
            The spring of AD 354
        </div>
    </div>

</section>

<p class="typo-desc">Windows 系统</p>

<section class="typo-section clearfix">
        <div class="typo-block yahei">
            <div class="typo-block-black">
                <p class="en">Microsoft YaHei</p>
                <p class="zh">中文优先字体</p>
            </div>
            <div class="typo-block-white">
                永和九年，岁在癸丑
            </div>
        </div>


        <div class="typo-block simhei">
            <div class="typo-block-black">
                <p class="en">SimHei</p>
                <p class="zh">中文备选字体</p>
            </div>
            <div class="typo-block-white">
                永和九年，岁在癸丑
            </div>
        </div>


        <div class="typo-block arial">
            <div class="typo-block-black">
                <p class="en">Arial</p>
                <p class="zh">西方优先字体</p>
            </div>
            <div class="typo-block-white">
                 The spring of AD 354
            </div>
        </div>

        <div class="typo-block verdana">
            <div class="typo-block-black">
                <p class="en">Verdana</p>
                <p class="zh">西方备选字体</p>
            </div>
            <div class="typo-block-white">
                The spring of AD 354
            </div>
        </div>

    </section>