<div class="nb-toast-container" [@enterLeave]="toast.state">
    <div class="nb-toast-content" [ngClass]="'nb-toast-' + toast.type">
        <ng-container [ngSwitch]="toast.type">
            <i *ngSwitchCase="'success'" class="icon iconfont icon-check_c"></i>
            <i *ngSwitchCase="'warn'" class="icon iconfont icon-attention"></i>
            <i *ngSwitchCase="'info'" class="icon iconfont icon-info_c"></i>
            <i *ngSwitchCase="'error'" class="icon iconfont icon-close_c"></i>
        </ng-container>
        <div class="nb-toast-message">{{ toast.content }}</div>
    </div>
</div>
