<div class="nb-accordion">
    <div *ngIf="hoverable; then hoverBlock; else clickBlock"></div>
    <ng-template #clickBlock>
        <div
            class="nb-accordion-panel"
            *ngFor="let panel of panels; let index = index"
            (click)="onClickPanel(index)"
            [class.nb-accordion-panel-active]="index === activeIndex">
            <div class="nb-accordion-header">{{panel.header}}</div>
            <div class="nb-accordion-content">{{panel.content}}</div>
        </div>
    </ng-template>
    <ng-template #hoverBlock>
        <div
            class="nb-accordion-panel"
            *ngFor="let panel of panels; let index = index"
            (mouseover)="onClickPanel(index)"
            [class.nb-accordion-panel-active]="index === activeIndex">
            <div class="nb-accordion-header">{{panel.header}}</div>
            <div class="nb-accordion-content">{{panel.content}}</div>
        </div>
    </ng-template>
</div>
