
// --- variable ---
@accordion-panel-bottom-margin: 0.2em;
@accordion-panel-header-padding: 0.5em 0.5em 0.5em 1em;
@accordion-panel-header-border-radius: 0;

// --- layout ---
.@{prefix}-accordion {
    display: block;
}

.@{prefix}-accordion-panel {
    margin-bottom: @accordion-panel-bottom-margin;
}

.@{prefix}-accordion-header {
    cursor: pointer;
    padding: @accordion-panel-header-padding;
    position: relative;
    border-radius: @accordion-panel-header-border-radius;

    .iconfont {
        display: inline-block;
        transition: transform 0.24s, -webkit-transform 0.24s;
        transform: rotate(0);
        -webkit-transform: rotate(0);
    }
}

.@{prefix}-accordion-panel-active {
    .iconfont {
        transform: rotate(90deg);
    }
}


