<input 
    nb-input
    theme="default"
    #searchInput
    type="text" 
    class="nb-search-box-input"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [(ngModel)]="searchValue"
    (keyup)="onInputValue()">
<div class="nb-search-box-operate">
    <div class="nb-search-box-icons">
        <button 
            *ngIf="searchValue.length > 0"
            nb-button
            theme="transparent"
            class="nb-clear iconfont icon-close"
            (click)="clearSearch()"
            [disabled]="disabled">
            <i class="iconfont icon-close"></i>
        </button>
        <button 
            *ngIf="type==='ico'" 
            nb-button
            theme="transparent"
            class="nb-search iconfont icon-sousuo" 
            (click)="search()"
            [disabled]="disabled">
            <i class="iconfont icon-sousuo"></i>
        </button>
        <button 
            *ngIf="type==='btn'" 
            nb-button 
            theme="primary" 
            (click)="search()"
            [disabled]="disabled">
            搜索
        </button>
    </div>
</div>
<div [hidden]="isSuggestion === 'false' || !isOpen" class="nb-search-box-suggestion-layer">
    <ul class="nb-search-box-suggestion-list">
        <li 
            *ngFor="let item of suggestionValue" 
            class="nb-search-box-suggestion-item" 
            (click)="selectSuggestionValue(item)">
            {{item}}
        </li>
    </ul>
</div>
