<div class="nb-page">
    <div class="page-turn">
        <span class="total-page">共<span class="total">{{ total }}</span>条</span>
        <span class="total-page">每页条数</span>
        <nb-select [datasource]="selectData" [defaultLabel]="count" (onChange)="setCount($event)"
            [size]="'xs'" [defaultLabel]="'size-xs'">
        </nb-select>
        <ng-container *ngIf="pageSize.length < 7">
            <span (click)="jumpTo(i+1)" *ngFor="let item of pageSize; index as i" [ngClass]="{'turn-on': i + 1 === currrentIndex}">{{ i+1 }}</span>
        </ng-container>

        <ng-container *ngIf="pageSize.length >= 7 && currrentIndex < 4">
            <ng-container *ngFor="let item of firstPages; index as i">
                <span *ngIf="i < 5" (click)="jumpTo(i+1)" [ngClass]="{'turn-on': i + 1 === currrentIndex}">{{ i+1 }}</span>
            </ng-container>

            <em>...</em>
            <span (click)="jumpTo(pageSize.length)">{{ pageSize.length }}</span>
        </ng-container>

        <ng-container *ngIf="pageSize.length >= 7 && currrentIndex > 3 && currrentIndex < pageSize.length - 2">
            <span (click)="jumpTo(1)">1</span>
            <em>...</em>
            <span (click)="jumpTo(currrentIndex-1)">{{ +currrentIndex-1 }}</span>
            <span (click)="jumpTo(currrentIndex)" class="turn-on">{{ currrentIndex }}</span>
            <span (click)="jumpTo(currrentIndex+1)">{{ +currrentIndex+1 }}</span>
            <em>...</em>
            <span (click)="jumpTo(pageSize.length)">{{ pageSize.length }}</span>
        </ng-container>

        <ng-container *ngIf="pageSize.length >= 7 && currrentIndex > pageSize.length-3">
            <span (click)="jumpTo(1)">1</span>
            <em>...</em>
            <span (click)="jumpTo(pageSize.length-3)" [ngClass]="{'turn-on': pageSize.length - 3 === currrentIndex}">{{ pageSize.length-3 }}</span>
            <span (click)="jumpTo(pageSize.length-2)" [ngClass]="{'turn-on': pageSize.length - 2 === currrentIndex}">{{ pageSize.length-2 }}</span>
            <span (click)="jumpTo(pageSize.length-1)" [ngClass]="{'turn-on': pageSize.length - 1 === currrentIndex}">{{ pageSize.length-1 }}</span>
            <span (click)="jumpTo(pageSize.length)" [ngClass]="{'turn-on': pageSize.length === currrentIndex}">{{ pageSize.length }}</span>
        </ng-container>
        <span class="arrow arrow-disable" *ngIf="currrentIndex === 1"><i class="iconfont icon-left"></i></span>
        <span class="arrow" (click)="jumpTo(-2)" *ngIf="currrentIndex !== 1"><i class="iconfont icon-left"></i></span>
        <span class="arrow arrow-disable" *ngIf="currrentIndex === pageSize.length"><i class="iconfont icon-right"></i></span>
        <span class="arrow" (click)="jumpTo(-1)" *ngIf="currrentIndex !== pageSize.length"><i class="iconfont icon-right"></i></span>
    </div>
</div>