.@{prefix}-page {
    display: block;
    color: #f00;
}


/*翻页*/
.page-turn {
    font: 12px/30px 'Microsoft Yahei';
    color: #333;
}
.page-turn > span{
    margin: 0 2px;
    padding: 4px 10px;
    font: 12px/30px 'Microsoft Yahei';
    color: #333;
    background-color: #f8f8f8;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.page-turn .turn-on {
    color: #2f82f5;
    background-color: #fff;
    border-color: #2f82f5;
}

.page-turn .form-control {
    width: 30px;
    height: 23px;
    text-align: center;
}

.page-turn .btn {
    margin-top: -3px;
    padding: 0;
    min-width: 40px;
    height: 28px;
}

.page-turn .go-page {
    margin: 0 5px;
    font-style: normal;
}
