<div class="nb-page">
    <div class="page-turn">
        <span class="total-page">共<span class="total">{{ total }}</span>条</span>
        <span class="total-page">每页条数</span>
        <nb-select 
            [(ngModel)]="count"
            [datasource]="selectData" 
            [defaultLabel]="count" 
            [value]="count"
            (onChange)="setCount($event)"
            [size]="'xs'" 
            [defaultLabel]="'size-xs'">
        </nb-select>
        <ng-container *ngIf="pageSize.length < (5 + showCount * 2)">
            <span 
                *ngFor="let item of pageSize; index as i"
                [ngClass]="{'turn-on': i + 1 === currrentIndex}"
                (click)="jumpTo(i+1)">
                {{ i+1 }}
            </span>
        </ng-container>
        
        <ng-container *ngIf="pageSize.length >= (5 + showCount * 2) && currrentIndex < 3 + showCount">
            <ng-container *ngFor="let item of pageSize; index as i">
                <span *ngIf="i < (3 + showCount)" [ngClass]="{'turn-on': i + 1 === currrentIndex}" (click)="jumpTo(i+1)">{{ i+1 }}</span>
            </ng-container>
            <em>...</em>
            <span (click)="jumpTo(pageSize.length)">{{ pageSize.length }}</span>
        </ng-container>

        <ng-container *ngIf="pageSize.length >= (5 + showCount * 2) && currrentIndex > (2 + showCount) && currrentIndex < (pageSize.length - 1 - showCount)">
            <span (click)="jumpTo(1)">1</span>
            <em>...</em>
            <span *ngFor="let diff of showCountArr" (click)="jumpTo(currrentIndex-diff)">{{ +currrentIndex-diff }}</span>
            <span (click)="jumpTo(currrentIndex)" class="turn-on">{{ currrentIndex }}</span>
            <span *ngFor="let diff of showCountArr" (click)="jumpTo(currrentIndex+showCount+1-diff)">{{ +currrentIndex+showCount+1-diff }}</span>
            <em>...</em>
            <span (click)="jumpTo(pageSize.length)">{{ pageSize.length }}</span>
        </ng-container>

        <ng-container *ngIf="pageSize.length >= (5 + showCount * 2) && currrentIndex > (pageSize.length - 2 - showCount)">
            <span (click)="jumpTo(1)">1</span>
            <em>...</em>
            <ng-container *ngFor="let item of pageSize; index as i">
                <span *ngIf="i >= (pageSize.length - 3 - showCount)" [ngClass]="{'turn-on': i + 1 === currrentIndex}" (click)="jumpTo(i+1)">{{ i+1 }}</span>
            </ng-container>
        </ng-container>

        <span class="arrow arrow-disable" *ngIf="currrentIndex === 1"><i class="iconfont icon-left"></i></span>
        <span class="arrow" (click)="jumpTo(-2)" *ngIf="currrentIndex !== 1"><i class="iconfont icon-left"></i></span>
        <span class="arrow arrow-disable" *ngIf="currrentIndex === pageSize.length"><i class="iconfont icon-right"></i></span>
        <span class="arrow" (click)="jumpTo(-1)" *ngIf="currrentIndex !== pageSize.length"><i class="iconfont icon-right"></i></span>
    </div>
</div>