@import "../../../node_modules/bootstrap-less/bootstrap/index.less";
@import "../../../node_modules/prismjs/themes/prism.css";
@import "../../../node_modules/prismjs/plugins/line-numbers/prism-line-numbers.css";

@import "./dev.less";
@import "./common.less";
@import "./font.less";
@import "./component.less";

// overwrite the variables
@import "./variable.less";

@header-height: 60px;
@aside-width: 150px;

*:focus {
    outline: none;
}

body {
    background: #f6f6f6;
}

.demo-app {

    .app-header {
        position: fixed;
        height: @header-height;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: #001133;

        .logo {
            font-size: 28px;
            color: #fff;
            display: inline-block;
            padding: 10px 20px;
            text-decoration: none;
            font-style: italic;
        }

        .main-menu {
            position: absolute;
            left: 200px;
            top: 0;
            list-style: none;

            &-item {
                list-style: none;
                float: left;
                height: @header-height;
                line-height: @header-height;
                padding: 0 20px;
                color: #fffdee;
                cursor: pointer;
                font-size: 16px;

                &:hover,
                &.active, {
                    background: #f5f5f5;
                    color: #333;
                }
            }
        }
    }

    .app-body {
        padding-top: @header-height;

        .app-aside {
            position: fixed;
            top: @header-height;
            bottom: 0;
            width: @aside-width;
            overflow: scroll;
            background: #f1f1f1;

            .app-aside-list {
                padding: 0;
                margin: 0;

                .list-item {
                    height: 38px;
                    line-height: 38px;
                    padding-left: 20px;
                    font-size: 14px;
                    cursor: pointer;
                    color: @brand-primary;

                    &:hover,
                    &.active {
                        background-color: #fffdee;
                    }
                }
            }
        }

        .app-content {
            margin-left: @aside-width;
            padding: 20px;

            .main-title {
                margin-top: 0;
                font-size: 24px;
                color: @brand-primary;
            }

            .type-desc {
                .type-directive {
                    display: inline-block;
                    padding: 5px 8px;
                    background-color: #bb9600;
                    color: #fff;
                    border-radius: 2px;
                }

                .type-component {
                    .type-directive;
                    background-color: #960;
                }
            }

            .section-title {
                font-size: 16px;
                color: @brand-primary;
                font-style: italic;
                margin: 50px 0 10px 0;
                padding: 5px 0;
                padding-left: 20px;
                position: relative;

                &:before {
                    position: absolute;
                    content: ' ';
                    display: block;
                    width: 4px;
                    height: 100%;
                    background-color: @brand-primary;
                    left: 0;
                    top: 0;
                }
            }

            .section-desc {
                padding: 5px 0;
            }

            .nb-codebox {
                margin-top: 30px;
            }
        }
    }

    .app-body-collapse {
        .app-aside {
            display: none;
        }

        .app-content {
            margin-left: 0;
        }
    }
}

// docs
.docs-page {
    width: 960px;
    margin: 0 auto;
}

label {
    font-weight: normal;
    margin: 0;
}

// docs
.docs-api {
    &-type {
        font-size: 18px;
        color: #333;
    }

    &-class-name {
        font-size: 16px;
    }

    .docs-table-desc {
        font-size: 16px;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 10px;
    }

    .docs-table {
        width: 100%;

        .docs-row {
            border-bottom: 1px solid @table-row-bottom-color;

            &:nth-child(2n) {
                background-color: @table-row-even;
            }

            &:nth-child(2n+1) {
                background-color: @table-row-odd;
            }

            .docs-td:first-of-type {
                padding-left: 10px;
            }
        }

        .docs-td {
            padding: 13px 0;
            height: 2em;
            text-align: left;

            &-name {
                width: 15%;
                font-family: monospace;
            }

            &-type {
                width: 15%;
                font-family: monospace;
            }

            &-default {
                width: 15%;
                font-family: monospace;
            }

            &-desc {
                width: 55%;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

                & > p {
                    margin: 0;
                }
            }
        }

        .docs-input-marker {
            background: #329e6f;
            display: inline-block;
            color: #fff;
            border-radius: 10px;
            padding: 2px 5px;
            font-size: 12px;
        }

        .docs-output-marker {
            .docs-input-marker;
            background-color: #930;
        }

        .docs-property-name {
            margin: 0;
            padding-left: 5px;
            font-size: 16px;
        }
    }
}