<div class="demo-app">
    <div class="app-header">
        <a href="javascript:;" class="logo"> MEASURE UI </a>
    </div>

    <div class="app-body">
        <aside class="app-aside">
            <ul class="app-aside-list">
                <li class="list-item" routerLinkActive="active" [routerLink]="['/demo/button']">button</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/demo/buttongroup']">button group</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/demo/checkbox']">checkbox</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/demo/boxgroup']">boxgroup</li>
            </ul>
        </aside>

        <div class="app-content">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <div class="app-footer">

    </div>
</div>
