<div class="nb-transfer-candidate">
    <div class="nb-transfer-title">
        <span>{{ candidateTitle }}({{ candidateCount }})</span>
        <a
            *ngIf="allSelectLink"
            nb-button
            theme="transparent"
            [disabled]="disabled"
            (click)="transAll('selected', true)">
            全部添加
        </a>
    </div>
    <nb-search-box
        *ngIf="candidateSearch"
        placeholder=""
        size="small"
        [disabled]="disabled"
        (onClear)="clearSearch($event, 'candidate')"
        (onSearch)="searchByKeyWord($event, 'candidate')">
    </nb-search-box>
    <div 
        class="nb-transfer-tree-wrap" 
        [class.nb-transfer-tree-have-add-link-wrap]="addLink && addLink.flag"
        [class.nb-transfer-tree-no-search-wrap]="!candidateSearch">
        <ng-content select="nb-transfer-candidate"></ng-content>
    </div>
    <a 
        *ngIf="addLink && addLink.flag" 
        nb-button 
        theme="transparent" 
        [disabled]="disabled" 
        class="nb-transfer-add-link"
        (click)="extendData()">
        {{addLink.text}}
    </a>
</div>

<div class="nb-transfer-selected">
    <div class="nb-transfer-title">
        <span>{{ selectedTitle }}({{ selectedCount }}/{{ candidateCount }})</span>
        <a
            *ngIf="allDeleteLink"
            nb-button
            theme="transparent"
            [disabled]="disabled"
            (click)="transAll('candidate', false)">
            全部删除
        </a>
    </div>
    <nb-search-box
        *ngIf="selectedSearch"
        placeholder=""
        size="small"
        [disabled]="disabled"
        (onClear)="clearSearch($event, 'selected')"
        (onSearch)="searchByKeyWord($event, 'selected')">
    </nb-search-box>
    <div 
        class="nb-transfer-tree-wrap" 
        [class.nb-transfer-tree-have-add-link-wrap]="addLink && addLink.flag"
        [class.nb-transfer-tree-no-search-wrap]="!selectedSearch">
        <ng-content select="nb-transfer-selected"></ng-content>
    </div>
    <a 
        *ngIf="addLink && addLink.flag" 
        nb-button 
        theme="transparent" 
        [disabled]="disabled" 
        class="nb-transfer-add-link"></a>
</div>