.@{prefix}-transfer-title {
    height: 36px;
    margin: 10px 20px;
    line-height: 36px;
}

.@{prefix}-transfer-tree-wrap {
    width: 100%;
    height: 70%;
    margin-top: 20px;
    overflow: scroll;
}

// candidate
.@{prefix}-transfer-candidate {
    display: inline-block;
    width: 230px;
    height: 360px;
    margin: 15px;
    border: 1px solid #ddd;
}

.@{prefix}-transfer-candidate .@{prefix}-transfer-operate-link {
    float: right;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.@{prefix}-transfer-candidate .@{prefix}-search-box {
    margin-left: 20px;
}

.@{prefix}-transfer-candidate .@{prefix}-input {
    width: 190px;
}

.@{prefix}-transfer-candidate .@{prefix}-tree {
    padding-left: 15px;
    padding-right: 15px;
}

// selected
.@{prefix}-transfer-selected {
    display: inline-block;
    width: 230px;
    height: 360px;
    margin: 15px;
    border: 1px solid #ddd;
}

.@{prefix}-transfer-selected .@{prefix}-transfer-operate-link {
    float: right;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }
}

.@{prefix}-transfer-selected .@{prefix}-search-box {
    margin-left: 20px;
}

.@{prefix}-transfer-selected .@{prefix}-input {
    width: 190px;
}

.@{prefix}-transfer-selected .@{prefix}-tree {
    padding-left: 15px;
    padding-right: 15px;
}
