.@{prefix}-breadcrumb {
    display: block;
}

.@{prefix}-breadcrumb-list {
    .list-reset();

    .@{prefix}-breadcrumb-item {
        .list-reset();
        float: left;

        .@{prefix}-breadcrumb-text {
            color: @brand-primary;
            font-size: 16px;
            text-decoration: none;

            &:hover {
                color: darken(@brand-primary, 10%);
            }

            &:active {
                color:  darken(@brand-primary, 20%);
            }

            &.last {
                color: inherit;
            }

            &.no-clickable {
                color: inherit;
                pointer-events: none;
            }
        }

        .@{prefix}-breadcrumb-split {
            margin: 0 3px;

            .iconfont {
                font-size: 12px;
                color: @text-color;
            }
        }
    }
}
