.@{prefix}-tree-transfer {

    display: inline-block;
    width: 100%;
    min-width: 500px;
    max-width: 985px;

    .@{prefix}-tree-content {
        width: 100%;
    
        span {
            margin-right: 0;
            padding-left: 3px;
        }
    }
    
    .@{prefix}-transfer-candidate .@{prefix}-tree-node-selected .@{prefix}-tree-node-selection-candidate-icon {
        position: absolute;
        right: 22px;
        display: inline-block;
        margin-right: 0;
    }

    .@{prefix}-tree-node-name {
        width: 86%;
    }

    .@{prefix}-tree-selectable .@{prefix}-tree-content::before, 
    .@{prefix}-tree-selectable .@{prefix}-tree-content::after {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        height: 36px;
    }

    .@{prefix}-tree-selectable .@{prefix}-tree-content:hover {
        background-color: #f1f1f1;
    }

    .@{prefix}-tree-selectable .@{prefix}-tree-content:active {
        background-color: #e7e7e7;
    }
}

