.@{prefix}-tooltip {
    display: block;
    color: #f00;
}


.@{prefix}-tiplayer {

    &.@{prefix}-tiplayer-embedded {
        position: static;
        margin-top: 10px;
    }

    position: absolute;
    left: 0;
    top: 0;
    max-width: 276px;
    // width: 250px;
    background: rgba(51, 51, 51, 0.8);
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    color: #fff;

    &-top {
        margin-top: -8px;
    }

    &-bottom {
        margin-top: 8px;
    }

    &-arrow {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 8px;
    }

    &-title {
        padding: 8px 14px;
        margin: 0;
        font-size: 14px;
        background-color: #f7f7f7;
        border-bottom: 1px solid #ebebeb;
        border-radius: 5px 5px 0 0;
    }

    &-content {
        padding: 9px 14px;
    }
}

.@{prefix}-tiplayer-top {
    .@{prefix}-tiplayer-arrow {
        left: 50%;
        margin-left: -9px;
        border-bottom-width: 0;
        border-top-color: rgba(51, 51, 51, 0.8);
        bottom: -8px;
    }
}

.@{prefix}-tiplayer-bottom {
    .@{prefix}-tiplayer-arrow {
        left: 50%;
        margin-left: -9px;
        border-top-width: 0;
        border-bottom-color: #999999;
        border-bottom-color: rgba(51, 51, 51, 0.8);
        top: -8px;

        // &::after {
        //     content: '';
        //     top: 1px;
        //     margin-left: -8px;
        //     border-top-width: 0;
        //     border-bottom-color: #fff;
        // }
    }
}

.@{prefix}-tiplayer-right {
    .@{prefix}-tiplayer-arrow {
        top: 50%;
        margin-top: -9px;
        border-left-width: 0;
        border-right-color: rgba(51, 51, 51, 0.8);
        left: -8px;

        // &::after {
        //     content: '';
        //     left: 1px;
        //     bottom: -8px;
        //     border-left-width: 0;
        //     border-right-color: #fff;
        // }
    }
}

.@{prefix}-tiplayer-left {
    .@{prefix}-tiplayer-arrow {
        top: 50%;
        margin-top: -9px;
        border-right-width: 0;
        border-left-color: rgba(51, 51, 51, 0.8);
        right: -8px;

        // &::after {
        //     content: '';
        //     right: 1px;
        //     bottom: -8px;
        //     border-right-width: 0;
        //     border-left-color: #fff;
        // }
    }
}

.@{prefix}-tiplayer-top-left,
.@{prefix}-tiplayer-bottom-left {
    .@{prefix}-tiplayer-arrow {
        left: 1.285714em;
    }
}

.@{prefix}-tiplayer-top-right,
.@{prefix}-tiplayer-bottom-right {
    .@{prefix}-tiplayer-arrow {
        left: auto;
        right: 0.714286em;
    }
}

.@{prefix}-tiplayer-left-top,
.@{prefix}-tiplayer-right-top {
    .@{prefix}-tiplayer-arrow {
        top: 0.7em;
    }
}

.@{prefix}-tiplayer-left-bottom,
.@{prefix}-tiplayer-right-bottom {
    .@{prefix}-tiplayer-arrow {
        top: auto;
        bottom: 0.7em;
    }
}

// --- presentation ---

.@{prefix}-tiplayer-theme-pink {
    background: #ffeeee;
    color: @text-color;
}

.@{prefix}-tiplayer-theme-yellow {
    background: #fef4e6;
    color: @text-color;
}

.@{prefix}-tiplayer-theme-white {
    background: #fff;
    color: @text-color;

    .@{prefix}-tiplayer-arrow {
        border-top-color: rgba(0, 0, 0, 0.1);

        &::after {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 8px;
            content: '';
        }
    }

    &.@{prefix}-tiplayer-top {
        .@{prefix}-tiplayer-arrow {
            &::after {
                content: '';
                bottom: 1px;
                margin-left: -8px;
                border-bottom-width: 0;
                border-top-color: #fff;
            }
        }
    }

    .@{prefix}-tiplayer-bottom {
        .@{prefix}-tiplayer-arrow {

            &::after {
                content: '';
                top: 1px;
                margin-left: -8px;
                border-top-width: 0;
                border-bottom-color: #fff;
            }
        }
    }

    .@{prefix}-tiplayer-right {
        .@{prefix}-tiplayer-arrow {

            &::after {
                content: '';
                left: 1px;
                bottom: -8px;
                border-left-width: 0;
                border-right-color: #fff;
            }
        }
    }

    .@{prefix}-tiplayer-left {
        .@{prefix}-tiplayer-arrow {

            &::after {
                content: '';
                right: 1px;
                bottom: -8px;
                border-right-width: 0;
                border-left-color: #fff;
            }
        }
    }
}
