.@{prefix}-schedule {
    display: block;
    color: #f00;
    td {
        position: relative;
        width: 18px;
        height: 22px;
        border: 1px solid @nb-gray-6;
        &:hover {
            background-color: #daf3eb;
        }
    }
    button {
        width: 103%;
        height: 100%;
        border: none;
        border-radius: 0;
        &:hover {
            background-color: #daf3eb;
        }
    }
    .selected {
        background-color: #c4e0fe;
        &::before {
            position: absolute;
            top: 0;
            right: 0;
            width: 150px;
            z-index: 1;
            content: attr(data);
        }
    }
    // .td-selected:nth-of-type(n) {
    //     background-color: blue;
    //     button {
    //         &::before {
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             content: attr(data);
    //         }
    //     }
    // }
    // .td-selected + .td-selected + .td-selected {
    //     button {
    //         &::before {
    //             position: absolute;
    //             top: 0;
    //             left: 0;
    //             content: attr(data);
    //         }
    //     }
    // }
    .hour-title {
        margin-left: 10%;
        span {
            display: inline-block;
            width: 46px;
            color: @nb-gray-3;
            text-align: center;
        }
    }
    .week-title {
        float: left;
        width: 10%;
        color: @nb-gray-3;
        line-height: 22px;
        text-align: center;
        .week-item {
            height: 22px;
        }
        svg {
            margin: -3px 0 3px -3px;
        }
        .checkbox {
            display: inline-block;
            margin-right: 7px;
            width: 12px;
            height: 12px;
            border: 1px solid @nb-gray-2;
            vertical-align: middle;
        } 
    }
    // .table-parent {
    //     position: relative;
    //     float: left;
    //     width: 90%;
    // }
    .table-con {
        float: left;
        width: 90%;
    }
    .top-time {
        pointer-events: none;
        // position: absolute;
        // top: 0;
        // left: 0;
        td {
            background-color: red;
        }
    }
}
