<div class="nb-schedule">
    <div class="hour-select">
        <div class="hour-select-day">
            <nb-select [datasource]="selectData" (onChange)="setDay($event)">
            </nb-select>
        </div>
        <ul class="hour-select-label">
            <li>投放时段</li>
            <li>未投时段</li>
        </ul>
    </div>
    <div class="hour-table clearfix">
        <div class="hour-title">
            <ng-container *ngFor="let item of hours; index as j">
                <span *ngIf="j % 2 === 0">{{ item }}:00</span>
            </ng-container>
        </div>
        <div class="week-title">
            <div class="week-item" *ngFor="let item of week; index as j" (click)="checkDay(j)">
                <span class="checkbox">
                    <svg *ngIf="weekSelect[j] === 1" version="1.1" role="presentation" width="16" height="16" viewBox="0 0 12 12" class="icon">
                        <path d="M3 5h6v2H3z" fill-rule="evenodd"></path>
                    </svg>
                    <svg *ngIf="weekSelect[j] === 2" version="1.1" role="presentation" width="16" height="16" viewBox="0 0 12 12" class="icon">
                        <path d="M5.07 9L2.5 6.19l.98-1.06 1.59 1.75L8.47 3 9.5 4.08z" fill-rule="evenodd"></path>
                    </svg>
                </span>
                <span>{{ item }}</span>
            </div>
        </div>
        <table class="table-con">
            <tr *ngFor="let item1 of week; index as i">
                <ng-container *ngFor="let item of hours; index as j">
                    <td *ngIf="j < 24">
                        <button title="{{ item }}:00-{{ hours[j + 1] }}:00" [attr.data]="showLabel(i,j)" [ngClass]="{'selected': schedules[i * 24 + j] === 1}"
                            (mousedown)="mousedown(i, j)" (mouseup)="mouseup()" (mouseover)="mouseover(i, j)" (mouseout)="mouseout(i, j)">
                        </button>
                    </td>
                </ng-container>
            </tr>
        </table>
    </div>
</div>