<div class="demo-app">
    <div class="app-header">
        <a href="javascript:;" class="logo"> X Design </a>

        <ul class="main-menu clearfix">
            <li class="main-menu-item" routerLinkActive="active" [routerLink]="['/demo/docs']">guides</li>
            <li class="main-menu-item" routerLinkActive="active" [routerLink]="['/demo/components']">components</li>
            <li class="main-menu-item" routerLinkActive="active" [routerLink]="['/demo/api']">apis</li>
        </ul>
    </div>

    <div class="app-body">
        <aside class="app-aside">
            <ul class="app-aside-list">
                <li class="list-item" routerLinkActive="active" [routerLink]="['/button']">button</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/breadcrumb']">breadcrumb</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/switch']">switch</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/button-group']">button-group</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/box-group']">box-group</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/chart']">chart</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/progress-bar']">progress-bar</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/spinner']">spinner</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/carousel']">carousel</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/input']">input</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/tabs']">tabs</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/step']">step</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/tooltip']">tooltip</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/textarea']">textarea</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/table']">table</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/text-line']">text-line</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/search-box']">search-box</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/toast']">toast</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/select']">select</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/calendar']">calendar</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/region']">region</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/dialog']">dialog</li>
                <li class="list-item" routerLinkActive="active" [routerLink]="['/code-highlighter']">code-highlighter</li>
            </ul>
        </aside>

        <div class="app-content">
            <router-outlet></router-outlet>
        </div>
    </div>

    <div class="app-footer">

    </div>
</div>