<li [ngClass]="['nb-tree-node', node.styleClass || '']">
    <div
        class="nb-tree-content"
        [ngClass]="{'nb-tree-node-selected': node.isSelected, 'nb-tree-node-unselectable': !node.selectable, 'nb-tree-node-show': node.show}"
        (click)="onNodeClick()">
        <span
            *ngIf="node.children && node.children.length"
            class="nb-tree-node-toggle iconfont"
            [ngClass]="{'icon-down': node.isExpanded, 'icon-right': !node.isExpanded}"
            (click)="toggle($event)">
        </span>
        <span
            class="nb-tree-node-name"
            [ngClass]="{'nb-tree-no-child': !node.children}">
            {{ node.name }}
        </span>
        <span
            *ngIf="node.selectable"
            class="nb-tree-node-selection-candidate-icon iconfont"
            [ngClass]="{'icon-arrow-right': !node.isSelected, 'icon-check': node.isSelected}">
        </span>
        <span
            *ngIf="node.selectable"
            class="nb-tree-node-selection-selected-icon iconfont icon-close">
        </span>
    </div>
    <ul
        class="nb-tree-node-list"
        [style.display]="node.isExpanded ? 'block' : 'none'">
        <nb-tree-node
            *ngFor="let childNode of node.children"
            [node]="childNode"
            (onExpandNode)="expandNode($event)">
        </nb-tree-node>
    </ul>
</li>
