<div class="nb-uploader">
    <div class="img-list-wrapper">
        <ng-container *ngIf="files.length">
            <div *ngFor="let file of files" class="img-list">
                <div class="img-progress-start">
                    {{progress}}
                </div>
                <div class="img-progress-error" [class.hidden]="!error"></div>
                <div class="img-progress-finish">
                    <span class="photo_bigger_mark">
                        <img src="{{file.url}}" />
                    </span>
                    <div class="photo-control hidden">
                        <a href="javascript:void(0);" class="control_btn edit_mark" title="重新上传"></a>
                        <a href="javascript:void(0);" class="control_btn close" title="删除"></a>
                        <div class="clear"></div>
                    </div>
                    <!-- <div class="photo-info">
                        <span class="photo-info-num text-blue">{{file.name}}</span>
                        <span class="photo-info-desc">{{file.size}}</span>
                    </div> -->
                </div>
            </div>
        </ng-container>
            <!-- </div> -->
        <!-- </div> -->
        <div class="img-add">
            <span class="iconfont icon-plus_lg"></span>
            <input (change)="onFileSelect($event)"
                type="file" multiple="multiple" name="myFile" class="fileinput" style="left: 0px; top: 43px; height: 46px;"
                accept="image/*">`
        </div>
    <!-- </div> -->
</div>