<form nb-form [nzLayout]="'inline'" [formGroup]="validateForm">
    <div nb-form-item>
        <div nb-form-control nbHasFeedback [nbValidateStatus]="validateForm.controls.userName">
            <input nbInput formControlName="userName" type="text" theme="default" placeholder="请输入用户名" >
            <div nb-form-explain *ngIf="validateForm.controls.userName.dirty&&validateForm.controls.userName.hasError('required')">用户名必须填写</div>
        </div>
    </div>
    <div nb-form-item>
        <div nb-form-control nbHasFeedback [nbValidateStatus]="validateForm.controls.password">
            <input nbInput formControlName="password" type="password" placeholder="请输入密码">
            <div nb-form-explain *ngIf="validateForm.controls.password.dirty&&validateForm.controls.password.hasError('required')">密码必须填写</div>
        </div>
    </div>
    <button nb-button [disabled]="!validateForm.valid" theme="primary">登录</button>
</form>
