<nb-tabs size="large" underline>
    <nb-tab title="选中状态">
        <nb-tabs splitline>
            <nb-tab
             *ngFor="let tab of tabsSelected"
             [title]="tab.title"
             [active]="tab.active">
            {{ tab.content }}
            </nb-tab>
        </nb-tabs>
    </nb-tab>
    <nb-tab title="默认状态">
        <nb-tabs splitline>
            <nb-tab
             *ngFor="let tab of tabsDefault"
             [title]="tab.title"
             [active]="tab.active">
            {{ tab.content }}
            </nb-tab>
        </nb-tabs>
    </nb-tab>
    <nb-tab title="悬浮状态">
        <nb-tabs splitline>
            <nb-tab
             *ngFor="let tab of tabsHover"
             [title]="tab.title"
             [active]="tab.active">
            {{ tab.content }}
            </nb-tab>
        </nb-tabs>
    </nb-tab>
    <nb-tab title="按下状态">
        <nb-tabs splitline>
            <nb-tab
             *ngFor="let tab of tabsPress"
             [title]="tab.title"
             [active]="tab.active">
            {{ tab.content }}
            </nb-tab>
        </nb-tabs>
    </nb-tab>
    <nb-tab title="不可点击" disabled>
    </nb-tab>
</nb-tabs>