<div class="main markdown">
    <h1>Inherit Icons</h1>
    <ul class="icon_lists clear">
        <li>
            <i class="icon iconfont icon-tool-optimize"></i>
            <div class="name">tool-optimize</div>
            <div class="fontclass">.icon-tool-optimize</div>
        </li>

        <li>
            <i class="icon iconfont icon-trace"></i>
            <div class="name">trace</div>
            <div class="fontclass">.icon-trace</div>
        </li>

        <li>
            <i class="icon iconfont icon-live"></i>
            <div class="name">live</div>
            <div class="fontclass">.icon-live</div>
        </li>

        <li>
            <i class="icon iconfont icon-orienteering"></i>
            <div class="name">orienteering</div>
            <div class="fontclass">.icon-orienteering</div>
        </li>

        <li>
            <i class="icon iconfont icon-pic-suggest"></i>
            <div class="name">pic-suggest</div>
            <div class="fontclass">.icon-pic-suggest</div>
        </li>

        <li>
            <i class="icon iconfont icon-diagnosis"></i>
            <div class="name">diagnosis</div>
            <div class="fontclass">.icon-diagnosis</div>
        </li>

        <li>
            <i class="icon iconfont icon-intelligence"></i>
            <div class="name">intelligence</div>
            <div class="fontclass">.icon-intelligence</div>
        </li>

        <li>
            <i class="icon iconfont icon-dynamics"></i>
            <div class="name">dynamics</div>
            <div class="fontclass">.icon-dynamics</div>
        </li>

        <li>
            <i class="icon iconfont icon-atlas"></i>
            <div class="name">atlas</div>
            <div class="fontclass">.icon-atlas</div>
        </li>

        <li>
            <i class="icon iconfont icon-sem"></i>
            <div class="name">sem</div>
            <div class="fontclass">.icon-sem</div>
        </li>

        <li>
            <i class="icon iconfont icon-company"></i>
            <div class="name">company</div>
            <div class="fontclass">.icon-company</div>
        </li>

        <li>
            <i class="icon iconfont icon-manage-video"></i>
            <div class="name">manage-video</div>
            <div class="fontclass">.icon-manage-video</div>
        </li>

        <li>
            <i class="icon iconfont icon-manage-pic"></i>
            <div class="name">manage-pic</div>
            <div class="fontclass">.icon-manage-pic</div>
        </li>

        <li>
            <i class="icon iconfont icon-list-vip"></i>
            <div class="name">list-vip</div>
            <div class="fontclass">.icon-list-vip</div>
        </li>

        <li>
            <i class="icon iconfont icon-manage-list"></i>
            <div class="name">manage-list</div>
            <div class="fontclass">.icon-manage-list</div>
        </li>

        <li>
            <i class="icon iconfont icon-send"></i>
            <div class="name">send</div>
            <div class="fontclass">.icon-send</div>
        </li>

        <li>
            <i class="icon iconfont icon-bulletin-manage"></i>
            <div class="name">bulletin-manage</div>
            <div class="fontclass">.icon-bulletin-manage</div>
        </li>

        <li>
            <i class="icon iconfont icon-manage-ad"></i>
            <div class="name">manage-ad</div>
            <div class="fontclass">.icon-manage-ad</div>
        </li>

        <li>
            <i class="icon iconfont icon-search-advertiser"></i>
            <div class="name">search-advertiser</div>
            <div class="fontclass">.icon-search-advertiser</div>
        </li>

        <li>
            <i class="icon iconfont icon-manage-advertising"></i>
            <div class="name">manage-advertising</div>
            <div class="fontclass">.icon-manage-advertising</div>
        </li>

        <li>
            <i class="icon iconfont icon-manage-keyword"></i>
            <div class="name">manage-keyword</div>
            <div class="fontclass">.icon-manage-keyword</div>
        </li>

        <li>
            <i class="icon iconfont icon-report-basics"></i>
            <div class="name">report-basics</div>
            <div class="fontclass">.icon-report-basics</div>
        </li>

        <li>
            <i class="icon iconfont icon-data"></i>
            <div class="name">data</div>
            <div class="fontclass">.icon-data</div>
        </li>

        <li>
            <i class="icon iconfont icon-bulletin"></i>
            <div class="name">bulletin</div>
            <div class="fontclass">.icon-bulletin</div>
        </li>

        <li>
            <i class="icon iconfont icon-list-audit"></i>
            <div class="name">list-audit</div>
            <div class="fontclass">.icon-list-audit</div>
        </li>

        <li>
            <i class="icon iconfont icon-setup-words"></i>
            <div class="name">setup-words</div>
            <div class="fontclass">.icon-setup-words</div>
        </li>

        <li>
            <i class="icon iconfont icon-search-words"></i>
            <div class="name">search-words</div>
            <div class="fontclass">.icon-search-words</div>
        </li>

        <li>
            <i class="icon iconfont icon-setup-user"></i>
            <div class="name">setup-user</div>
            <div class="fontclass">.icon-setup-user</div>
        </li>

        <li>
            <i class="icon iconfont icon-bran-reputation"></i>
            <div class="name">bran-reputation</div>
            <div class="fontclass">.icon-bran-reputation</div>
        </li>

        <li>
            <i class="icon iconfont icon-sound-market"></i>
            <div class="name">sound-market</div>
            <div class="fontclass">.icon-sound-market</div>
        </li>

        <li>
            <i class="icon iconfont icon-application"></i>
            <div class="name">application</div>
            <div class="fontclass">.icon-application</div>
        </li>

        <li>
            <i class="icon iconfont icon-ad"></i>
            <div class="name">ad</div>
            <div class="fontclass">.icon-ad</div>
        </li>

        <li>
            <i class="icon iconfont icon-schedule"></i>
            <div class="name">schedule</div>
            <div class="fontclass">.icon-schedule</div>
        </li>

        <li>
            <i class="icon iconfont icon-technology"></i>
            <div class="name">technology</div>
            <div class="fontclass">.icon-technology</div>
        </li>

        <li>
            <i class="icon iconfont icon-all"></i>
            <div class="name">all</div>
            <div class="fontclass">.icon-all</div>
        </li>

        <li>
            <i class="icon iconfont icon-tool-center"></i>
            <div class="name">tool-center</div>
            <div class="fontclass">.icon-tool-center</div>
        </li>

        <li>
            <i class="icon iconfont icon-manage-order"></i>
            <div class="name">manage-order</div>
            <div class="fontclass">.icon-manage-order</div>
        </li>

        <li>
            <i class="icon iconfont icon-setup-system"></i>
            <div class="name">setup-system</div>
            <div class="fontclass">.icon-setup-system</div>
        </li>

        <li>
            <i class="icon iconfont icon-manage-channel"></i>
            <div class="name">manage-channel</div>
            <div class="fontclass">.icon-manage-channel</div>
        </li>

        <li>
            <i class="icon iconfont icon-list"></i>
            <div class="name">list</div>
            <div class="fontclass">.icon-list</div>
        </li>

        <li>
            <i class="icon iconfont icon-manage-resource"></i>
            <div class="name">manage-resource</div>
            <div class="fontclass">.icon-manage-resource</div>
        </li>

        <li>
            <i class="icon iconfont icon-list-expense"></i>
            <div class="name">list-expense</div>
            <div class="fontclass">.icon-list-expense</div>
        </li>

        <li>
            <i class="icon iconfont icon-order"></i>
            <div class="name">order</div>
            <div class="fontclass">.icon-order</div>
        </li>

        <li>
            <i class="icon iconfont icon-sub-order"></i>
            <div class="name">sub-order</div>
            <div class="fontclass">.icon-sub-order</div>
        </li>

        <li>
            <i class="icon iconfont icon-list-frozen"></i>
            <div class="name">list-frozen</div>
            <div class="fontclass">.icon-list-frozen</div>
        </li>

        <li>
            <i class="icon iconfont icon-profile"></i>
            <div class="name">profile</div>
            <div class="fontclass">.icon-profile</div>
        </li>

        <li>
            <i class="icon iconfont icon-account-info"></i>
            <div class="name">account-info</div>
            <div class="fontclass">.icon-account-info</div>
        </li>

        <li>
            <i class="icon iconfont icon-manage-info"></i>
            <div class="name">manage-info</div>
            <div class="fontclass">.icon-manage-info</div>
        </li>

        <li>
            <i class="icon iconfont icon-followed"></i>
            <div class="name">followed</div>
            <div class="fontclass">.icon-followed</div>
        </li>

        <li>
            <i class="icon iconfont icon-collected"></i>
            <div class="name">collected</div>
            <div class="fontclass">.icon-collected</div>
        </li>

        <li>
            <i class="icon iconfont icon-account-code"></i>
            <div class="name">account-code</div>
            <div class="fontclass">.icon-account-code</div>
        </li>

        <li>
            <i class="icon iconfont icon-narrow-down"></i>
            <div class="name">narrow-down</div>
            <div class="fontclass">.icon-narrow-down</div>
        </li>

        <li>
            <i class="icon iconfont icon-follow"></i>
            <div class="name">follow</div>
            <div class="fontclass">.icon-follow</div>
        </li>

        <li>
            <i class="icon iconfont icon-collect"></i>
            <div class="name">collect</div>
            <div class="fontclass">.icon-collect</div>
        </li>

        <li>
            <i class="icon iconfont icon-blow-up"></i>
            <div class="name">blow-up</div>
            <div class="fontclass">.icon-blow-up</div>
        </li>

        <li>
            <i class="icon iconfont icon-vip"></i>
            <div class="name">vip</div>
            <div class="fontclass">.icon-vip</div>
        </li>

        <li>
            <i class="icon iconfont icon-user"></i>
            <div class="name">user</div>
            <div class="fontclass">.icon-user</div>
        </li>

        <li>
            <i class="icon iconfont icon-document"></i>
            <div class="name">document</div>
            <div class="fontclass">.icon-document</div>
        </li>

        <li>
            <i class="icon iconfont icon-end"></i>
            <div class="name">end</div>
            <div class="fontclass">.icon-end</div>
        </li>

        <li>
            <i class="icon iconfont icon-level"></i>
            <div class="name">level</div>
            <div class="fontclass">.icon-level</div>
        </li>

        <li>
            <i class="icon iconfont icon-pic"></i>
            <div class="name">pic</div>
            <div class="fontclass">.icon-pic</div>
        </li>

        <li>
            <i class="icon iconfont icon-service"></i>
            <div class="name">service</div>
            <div class="fontclass">.icon-service</div>
        </li>

        <li>
            <i class="icon iconfont icon-up-all"></i>
            <div class="name">up-all</div>
            <div class="fontclass">.icon-up-all</div>
        </li>

        <li>
            <i class="icon iconfont icon-down-all"></i>
            <div class="name">down-all</div>
            <div class="fontclass">.icon-down-all</div>
        </li>

        <li>
            <i class="icon iconfont icon-add"></i>
            <div class="name">add</div>
            <div class="fontclass">.icon-add</div>
        </li>

        <li>
            <i class="icon iconfont icon-bag"></i>
            <div class="name">bag</div>
            <div class="fontclass">.icon-bag</div>
        </li>

        <li>
            <i class="icon iconfont icon-user_c"></i>
            <div class="name">user_c</div>
            <div class="fontclass">.icon-user_c</div>
        </li>

        <li>
            <i class="icon iconfont icon-plus_lg"></i>
            <div class="name">plus_lg</div>
            <div class="fontclass">.icon-plus_lg</div>
        </li>

        <li>
            <i class="icon iconfont icon-share"></i>
            <div class="name">share</div>
            <div class="fontclass">.icon-share</div>
        </li>

        <li>
            <i class="icon iconfont icon-message"></i>
            <div class="name">message</div>
            <div class="fontclass">.icon-message</div>
        </li>

        <li>
            <i class="icon iconfont icon-minus"></i>
            <div class="name">minus</div>
            <div class="fontclass">.icon-minus</div>
        </li>

        <li>
            <i class="icon iconfont icon-search"></i>
            <div class="name">search</div>
            <div class="fontclass">.icon-search</div>
        </li>

        <li>
            <i class="icon iconfont icon-invisible"></i>
            <div class="name">invisible</div>
            <div class="fontclass">.icon-invisible</div>
        </li>

        <li>
            <i class="icon iconfont icon-visible"></i>
            <div class="name">visible</div>
            <div class="fontclass">.icon-visible</div>
        </li>

        <li>
            <i class="icon iconfont icon-loading"></i>
            <div class="name">loading</div>
            <div class="fontclass">.icon-loading</div>
        </li>

        <li>
            <i class="icon iconfont icon-arrow-right"></i>
            <div class="name">arrow-right</div>
            <div class="fontclass">.icon-arrow-right</div>
        </li>

        <li>
            <i class="icon iconfont icon-off-screen"></i>
            <div class="name">off-screen</div>
            <div class="fontclass">.icon-off-screen</div>
        </li>

        <li>
            <i class="icon iconfont icon-full-screen"></i>
            <div class="name">full-screen</div>
            <div class="fontclass">.icon-full-screen</div>
        </li>

        <li>
            <i class="icon iconfont icon-arrow-down"></i>
            <div class="name">arrow-down</div>
            <div class="fontclass">.icon-arrow-down</div>
        </li>

        <li>
            <i class="icon iconfont icon-arrow-left"></i>
            <div class="name">arrow-left</div>
            <div class="fontclass">.icon-arrow-left</div>
        </li>

        <li>
            <i class="icon iconfont icon-arrow-up"></i>
            <div class="name">arrow-up</div>
            <div class="fontclass">.icon-arrow-up</div>
        </li>

        <li>
            <i class="icon iconfont icon-qrcode"></i>
            <div class="name">qrcode</div>
            <div class="fontclass">.icon-qrcode</div>
        </li>

        <li>
            <i class="icon iconfont icon-paperclip"></i>
            <div class="name">paperclip</div>
            <div class="fontclass">.icon-paperclip</div>
        </li>

        <li>
            <i class="icon iconfont icon-sort-asc"></i>
            <div class="name">sort-asc</div>
            <div class="fontclass">.icon-sort-asc</div>
        </li>

        <li>
            <i class="icon iconfont icon-sort-desc"></i>
            <div class="name">sort-desc</div>
            <div class="fontclass">.icon-sort-desc</div>
        </li>

        <li>
            <i class="icon iconfont icon-sorting"></i>
            <div class="name">sorting</div>
            <div class="fontclass">.icon-sorting</div>
        </li>

        <li>
            <i class="icon iconfont icon-logout"></i>
            <div class="name">logout</div>
            <div class="fontclass">.icon-logout</div>
        </li>

        <li>
            <i class="icon iconfont icon-login"></i>
            <div class="name">login</div>
            <div class="fontclass">.icon-login</div>
        </li>

        <li>
            <i class="icon iconfont icon-todown"></i>
            <div class="name">todown</div>
            <div class="fontclass">.icon-todown</div>
        </li>

        <li>
            <i class="icon iconfont icon-totop"></i>
            <div class="name">totop</div>
            <div class="fontclass">.icon-totop</div>
        </li>

        <li>
            <i class="icon iconfont icon-collapse"></i>
            <div class="name">collapse</div>
            <div class="fontclass">.icon-collapse</div>
        </li>

        <li>
            <i class="icon iconfont icon-upload"></i>
            <div class="name">upload</div>
            <div class="fontclass">.icon-upload</div>
        </li>

        <li>
            <i class="icon iconfont icon-expansion"></i>
            <div class="name">expansion</div>
            <div class="fontclass">.icon-expansion</div>
        </li>

        <li>
            <i class="icon iconfont icon-start_s"></i>
            <div class="name">start_s</div>
            <div class="fontclass">.icon-start_s</div>
        </li>

        <li>
            <i class="icon iconfont icon-pause_s"></i>
            <div class="name">pause_s</div>
            <div class="fontclass">.icon-pause_s</div>
        </li>

        <li>
            <i class="icon iconfont icon-edit"></i>
            <div class="name">edit</div>
            <div class="fontclass">.icon-edit</div>
        </li>

        <li>
            <i class="icon iconfont icon-close_c"></i>
            <div class="name">close_c</div>
            <div class="fontclass">.icon-close_c</div>
        </li>

        <li>
            <i class="icon iconfont icon-check_c"></i>
            <div class="name">check_c</div>
            <div class="fontclass">.icon-check_c</div>
        </li>

        <li>
            <i class="icon iconfont icon-check"></i>
            <div class="name">check</div>
            <div class="fontclass">.icon-check</div>
        </li>

        <li>
            <i class="icon iconfont icon-close"></i>
            <div class="name">close</div>
            <div class="fontclass">.icon-close</div>
        </li>

        <li>
            <i class="icon iconfont icon-up"></i>
            <div class="name">up</div>
            <div class="fontclass">.icon-up</div>
        </li>

        <li>
            <i class="icon iconfont icon-right"></i>
            <div class="name">right</div>
            <div class="fontclass">.icon-right</div>
        </li>

        <li>
            <i class="icon iconfont icon-down"></i>
            <div class="name">down</div>
            <div class="fontclass">.icon-down</div>
        </li>

        <li>
            <i class="icon iconfont icon-redo"></i>
            <div class="name">redo</div>
            <div class="fontclass">.icon-redo</div>
        </li>

        <li>
            <i class="icon iconfont icon-undo"></i>
            <div class="name">undo</div>
            <div class="fontclass">.icon-undo</div>
        </li>

        <li>
            <i class="icon iconfont icon-filter"></i>
            <div class="name">filter</div>
            <div class="fontclass">.icon-filter</div>
        </li>

        <li>
            <i class="icon iconfont icon-info_c"></i>
            <div class="name">info_c</div>
            <div class="fontclass">.icon-info_c</div>
        </li>

        <li>
            <i class="icon iconfont icon-attention"></i>
            <div class="name">attention</div>
            <div class="fontclass">.icon-attention</div>
        </li>

        <li>
            <i class="icon iconfont icon-clock"></i>
            <div class="name">clock</div>
            <div class="fontclass">.icon-clock</div>
        </li>

        <li>
            <i class="icon iconfont icon-calendar"></i>
            <div class="name">calendar</div>
            <div class="fontclass">.icon-calendar</div>
        </li>

        <li>
            <i class="icon iconfont icon-help"></i>
            <div class="name">help</div>
            <div class="fontclass">.icon-help</div>
        </li>

        <li>
            <i class="icon iconfont icon-more"></i>
            <div class="name">more</div>
            <div class="fontclass">.icon-more</div>
        </li>

        <li>
            <i class="icon iconfont icon-left"></i>
            <div class="name">left</div>
            <div class="fontclass">.icon-left</div>
        </li>

    </ul>
</div>