<button nbOverlayOrigin nb-button
    #origin="nbOverlayOrigin"
    theme="{{theme}}" size="{{size}}" (click)="onToggle($event)">
        <span class="nb-select-label">{{selectedData.label}}</span>
        <i class="nb-select-icon fa {{icon}}"></i>
</button>

<nb-overlay #overlay
    needHideAfterBobyClick
    placement="bottom-left">
    <nb-select-options
                    (onChange)="onSelectedOption($event)"
                    [styles]="styles"
                    [value]="value"
                    [searchable]="searchable"
                    [data]="datasource">
    </nb-select-options>
</nb-overlay>
