<label [class.nb-widget-disabled]="disabled">
    <div #outerbar class="nb-switch-outer" [class.checked]="checked" [class.nb-switch-outer-dragging]="_dragging">
        <div
            #innerbar
            class="nb-switch-inner"
            (slidestart)="_onDragStart()"
            (slide)="_onDrag($event)"
            (slideend)="_onDragEnd()">
        </div>
    </div>
    <input #checkbox
        name="chk"
        type="checkbox"
        class="visually-hidden"
        [checked]="checked"
        (change)="_onChange($event)"
        (click)="_onInputClick($event)">

    <span class="nb-switch-label">
        <ng-content></ng-content>
    </span>
</label>
