<div #txtLines class="nb-text-line-measurer">
    <div *ngFor="let line of lines; let i = index;" class="nb-text-line-measurer-line">
        <div class="nb-text-line-measurer-line-number">{{ i + 1 }}</div>
        <div class="nb-text-line-measurer-line-content">{{ line }}</div>
    </div>
</div>

<textarea
    #txtContent
    class="nb-text-line-textarea"
    [placeholder]="placeholder"
    [disabled]="disabled"
    [value]="value"
    (scroll)="scrollHandler($event, txtLines)"
    (input)="onInput($event, txtContent, txtLines)"
    (blur)="onBlur()">
</textarea>
