<p>
    默认效果
    <br>
    <nb-select [datasource]="datasource"
               (onChange)="selectedData1 = $event">
    </nb-select>
    <span class="code">
        <pre *ngIf="selectedData1">{{ selectedData1 | json }}</pre>
    </span>
</p>

<p>
    自定义内容
    <br>
    <nb-select [datasource]="datasource"
               (onChange)="selectedData2 = $event"
               [defaultLabel]="'自定义内容'">
    </nb-select>
    <span class="code">
        <pre *ngIf="selectedData2">{{ selectedData2 | json }}</pre>
    </span>
</p>

<p>
    设置默认值
    <br>
    <nb-select #select1 [datasource]="datasource"
               [value]="selectedData3"
               [(ngModel)]="selectedData3">
    </nb-select>
    <span class="code">
        <pre *ngIf="selectedData3">{{ selectedData3 | json }}</pre>
    </span>
    <a (click)="clear(select1)">清除已选的值</a>
</p>

<p>
    支持搜索
    <br>
    <nb-select [datasource]="datasource"
               (onChange)="selectedData4 = $event"
               [searchable]="true">
    </nb-select>
    <span class="code">
        <pre *ngIf="selectedData4">{{ selectedData4 | json }}</pre>
    </span>
</p>

<p>
    支持子选项
    <br>
    <nb-select [datasource]="datasource2"
               (onChange)="selectedData5 = $event"
               [searchable]="true">
    </nb-select>
    <span class="code">
        <pre *ngIf="selectedData5">{{ selectedData5 | json }}</pre>
    </span>
</p>

<p>
    禁用
    <br>
    <nb-select [datasource]="datasource"
               [disabled]="true"
               (onChange)="selectedData1 = $event">
    </nb-select>
    <span class="code">
        <pre *ngIf="selectedData1">{{ selectedData1 | json }}</pre>
    </span>
</p>

<p>
    Themes
    <br>
    <nb-select [datasource]="datasource" [theme]="'primary'" [defaultLabel]="'theme-primary'"
               (onChange)="selectedData1 = $event">
    </nb-select>
    <nb-select [datasource]="datasource" [theme]="'default'" [defaultLabel]="'theme-default'"
               (onChange)="selectedData1 = $event">
    </nb-select>
    <nb-select [datasource]="datasource" [theme]="'neutral'" [defaultLabel]="'theme-neutral'"
               (onChange)="selectedData1 = $event">
    </nb-select>
    <nb-select [datasource]="datasource" [theme]="'transparent'" [defaultLabel]="'theme-transparent'"
               (onChange)="selectedData1 = $event">
    </nb-select>
    <nb-select [datasource]="datasource" [theme]="'transparent'" [defaultLabel]="'theme-transparent'"
               (onChange)="selectedData1 = $event">
    </nb-select>
    <nb-select [datasource]="datasource" [theme]="'orange'" [defaultLabel]="'theme-custom'"
               (onChange)="selectedData1 = $event">
    </nb-select>
</p>
<p>
    <nb-select [datasource]="datasource" [size]="'xs'" [defaultLabel]="'size-xs'"
               (onChange)="selectedData1 = $event">
    </nb-select>
    <nb-select [datasource]="datasource" [size]="'sm'" [defaultLabel]="'size-sm'"
               (onChange)="selectedData1 = $event">
    </nb-select>
    <nb-select [datasource]="datasource" [size]="'default'" [defaultLabel]="'size-default'"
               (onChange)="selectedData1 = $event">
    </nb-select>
    <nb-select [datasource]="datasource" [size]="'lg'" [defaultLabel]="'size-lg'"
               (onChange)="selectedData1 = $event">
    </nb-select>
</p>


    <h1>表单</h1>

    <form [formGroup]="formGroup">
        <nb-select
            formControlName="crowd"
            [datasource]="crowds"
            [defaultLabel]="'选择人群'"
            [optionTpl]="optionTpl"
            [searchable]="true">
        </nb-select>

        <ng-template #optionTpl let-item>
            {{ item.label }}

            <i
                class="fa fa-upload"
                theme="default"
                [nbTooltip]="tipContentEmbedded"
                placement="top"
                nbTooltipTheme="white"
                trigger="hover">
            </i>

            <ng-template #tipContentEmbedded>
                <h2>标题</h2>
                <p>当前项的值为：{{ item.value }}</p>
            </ng-template>

        </ng-template>
    </form>

    {{ formGroup.value | json }}
