<div class="nb-tabs nb-tabs-{{size}}"
    [class.nb-tabs-underline]="underline"
    [class.nb-tabs-splitline]="splitline">

    <nb-tab-header *ngFor="let tab of tabs; let index = index"
        [class.active]="tab.active"
        [class.disabled]="tab.disabled"
        (click)="setActive(tab, index)">
        <ng-template [ngIf]="tab.templateTitle">
            <div [nbAttach]="tab.templateTitle"></div>
        </ng-template>
        <ng-template [ngIf]="!tab.templateTitle">
            {{ tab.title }}
        </ng-template>
    </nb-tab-header>
    <nb-ink-bar></nb-ink-bar>
</div>

<ng-content></ng-content>

