<div class="nb-tabs nb-tabs-{{size}}"
    [class.nb-tabs-underline]="underline"
    [class.nb-tabs-splitline]="splitline">

    <nb-tab-header *ngFor="let tab of tabs; let index = index"
        class="item"
        [class.active]="tab.active"
        [class.disabled]="tab.disabled"
        (click)="setActive(tab, index)">

        <ng-container *ngIf="tab.tipable">
            <ng-template #tipContent>
                <ng-content select=".tip-content"></ng-content>
            </ng-template>
            <i class="iconfont icon-help"
                [nbTooltip]="tipContent"
                placement="right">
            </i>
        </ng-container>

        {{ tab.title }}
    </nb-tab-header>
    <nb-ink-bar></nb-ink-bar>
</div>

<ng-content></ng-content>

