.@{prefix}-checkbox {
    // display: inline-block;
    position: relative;

    .@{prefix}-checkbox-label {
        padding-left: 20px;
        cursor: pointer;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 2px;
            width: 16px;
            height: 16px;
            border: 1px solid @text-color;
            background-color: #fff;
        }
    }
}

.@{prefix}-checkbox.@{prefix}-checkbox-checked {

    .@{prefix}-checkbox-label {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 5px;
            left: 3px;
            width: 0.66em;
            height: 0.4em;
            border: 0.11em solid @text-color;
            border-top: none;
            border-right: none;
            transform: rotate(-45deg);
        }
    }
}

.@{prefix}-checkbox.@{prefix}-checkbox-intermediate {

    .@{prefix}-checkbox-label {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            left: 4px;
            width: 8px;
            height: 2px;
            background-color: @text-color;
        }
    }

    &.@{prefix}-checkbox-disabled {
        .@{prefix}-checkbox-label {
            &:after {
                background-color: #b8b8b8;
            }
        }
    }
}

.@{prefix}-checkbox.@{prefix}-checkbox-disabled {
    color: #999;
    cursor: not-allowed;

    .@{prefix}-checkbox-label {
        &:before {
            border-color: #dbdbdb;
            background-color: #eee;
        }
    }

    &.@{prefix}-checkbox-checked {
        .@{prefix}-checkbox-label {
            &:after {
                border-color: #b8b8b8;
            }
        }
    }
}



// radio

.@{prefix}-checkbox-radio {
    .@{prefix}-checkbox-label {
        &:before {
            border-radius: 16px;
        }
    }
}

.@{prefix}-checkbox-radio.@{prefix}-checkbox-checked {
    .@{prefix}-checkbox-label {
        &:after {
            border: none;
            width: 8px;
            height: 8px;
            border-radius: 8px;
            left: 4px;
            top: 50%;
            transform: translateY(-50%);
            background-color: @text-color-dark;
        }
    }
}

.@{prefix}-checkbox-radio.@{prefix}-checkbox-disabled {
    .@{prefix}-checkbox-label {
        &:before {
            border-color: #dbdbdb;
            background-color: #eee;
        }
    }

    &.@{prefix}-checkbox-checked {
        .@{prefix}-checkbox-label {
            &:after {
                background-color: #b8b8b8;
            }
        }
    }
}

.@{prefix}-box-group {
    display: block;
    color: #f00;
}
