@nb-region-border-color: #dbdbdb;

.@{prefix}-region {
    display: inline-block;
    border: 1px solid @nb-region-border-color;
    width: 718px;
    background: #fff;

    &-section {
        &-title {
            padding: 10px 20px;
            border-bottom: 1px solid @nb-region-border-color;
        }

        &-content {
            border-bottom: 1px solid @nb-region-border-color;
        }

        &:last-of-type {
            .@{prefix}-region-section-title,
            .@{prefix}-region-section-content {
                border-bottom: none;
            }
        }
    }

    &-district {
        padding-left: 20px;
        .clearfix;

        &-title {
            float: left;
            margin: 16px 0;
            width: 116px;
        }

        &-content {
            margin-left: 116px;
        }

        &:hover {
            background-color: #f7f7f7;
        }
    }

    &-province {
        float: left;
        padding: 16px 0;
        position: relative;

        &-title {
            width: 116px;
        }

        .province-count {
            color: #999;
            display: none;
        }

        &:hover {
            background-color: #fff;
            box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);

            .province-count {
                display: inline-block;
            }
        }

        .@{prefix}-region-city-panel {
            position: absolute;
            top: 45px;
            left: -10px;
            padding-left: 20px;
            min-width: max-content;
            z-index: 1001;
            background-color: #fff;
            // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .20);
            box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);

            .@{prefix}-region-city-table {
                display: table;
                width: 100%;

                .@{prefix}-region-city-row {
                    display: table-row;
                    margin: 10px 8px;

                    .@{prefix}-region-city-cell {
                        display: table-cell;
                        padding: 10px 20px 10px 8px;
                    }
                }
            }
        }
    }
}
